<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&#169; <%= year %>, CSE 340 App</p>
  <a href="https://cse340-2zh7.onrender.com/inv/detail/">Error Link</a>
</footer>